<launch>
    <arg name="pretrained_disp" doc="pretrained DispNet path" />
    <arg name="pretrained_pose" default="" doc="Pretrained PoseNet path (for rescaling the depth map)" />
    <arg name="odom_topic" default="" doc="Odometry topic (for rescaling the depth map)" />
    <arg name="camera_link" default="camera_link" doc="tf link of the camera (for the pointcloud)" />
    <arg name="image_topic" default="/camera/color/image_raw/compressed" doc="camera image topic" />
    <arg name="camera_info_topic" default="/camera/color/camera_info" doc="camera info topic" />
    <arg name="img_height" default="0" doc="Image height for resizing (optional)" />
    <arg name="img_width" default="0" doc="Image width for resizing (optional)" />
    
    <node name="depth_estimation_node" pkg="ros_sfmlearner_pytorch" type="estimate_depth.py" output="screen" >
        <param name="pretrained_disp" value="$(arg pretrained_disp)" />
        <param name="pretrained_pose" value="$(arg pretrained_pose)" />
        <param name="odom_topic" value="$(arg odom_topic)" />
        <param name="image_topic" value="$(arg image_topic)" />
        <param name="camera_info_topic" value="$(arg camera_info_topic)" />
        <param name="camera_link" value="$(arg camera_link)" />
        <param name="img_height" value="$(arg img_height)" />
        <param name="img_width" value="$(arg img_width)" />
    </node>
</launch>
